<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chalo_captain">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChaloCaptain">
        <activity android:name=".MyOffers"></activity>
        <activity android:name=".Offers_Management" />
        <activity android:name=".Request" />
        <activity android:name=".CreateOffer" />
        <activity android:name=".Rating" />
        <activity android:name=".Payment" />
        <activity android:name=".Vehicle" />
        <activity android:name=".Booking" />
        <activity android:name=".Captain_Profile" />
        <activity android:name=".Category" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Captain_Update" />
        <activity android:name=".Register" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>